extends layout

block content
  .container.mt-4
    h1 登録
    h5 hostname: #{hostname}
    if (registerd)
      .alert.alert-success #{registerd.name}さんを登録しました。
    if (notRegisterd)
      .alert.alert-danger 名前と年齢を入力してください。
    form.mt-3(method='post')
      .form-group
        label(for='name') 氏名
        input#name.form-control(type='text', name='name', aria-describedby='emailHelp', placeholder='例: 田中太郎')
      .form-group
        label(for='age') 年齢
        input#age.form-control(type='text', name='age' placeholder='例: 21')
      button.btn.btn-primary(type='submit') 登録
      a.btn.btn-light.ml-2(href='/') 戻る